html {
  font-size: 20px;
}

.section-container {
  margin-bottom: 1rem;
}

[class*=col] {
  padding: 0 0;
}

#logo-container {
  padding-bottom: 3rem;
}
#logo-container img {
  width: 100%;
}

#blackwoods-section-container {
  background-color: #373535;
  margin-bottom: 0;
}
#blackwoods-section-container img {
  width: 60%;
}
#blackwoods-section-container .section-container {
  margin-bottom: 0;
}

#aymaria-section-container {
  background-color: #f8aeb0;
  margin-bottom: 0;
}
#aymaria-section-container .section-container {
  margin-bottom: 0;
}

#roes-section-container {
  background-color: #e0c389;
  margin-bottom: 0;
}
#roes-section-container img {
  width: 60%;
}
#roes-section-container .section-container {
  margin-bottom: 0;
}

#services-navbar-container {
  margin-bottom: 0;
}
#services-navbar-container .services-navbar-container {
  padding: 0 !important;
  margin-bottom: 0;
}
#services-navbar-container .services-navbar-container .navbar-collapse {
  justify-content: space-around;
}
#services-navbar-container .services-navbar-container .navbar-nav {
  display: flex;
  width: 65%;
  justify-content: space-around;
}
#services-navbar-container .services-navbar-container .navbar-nav button {
  border: none;
  border-radius: 0.8rem 0.8rem 0 0;
  color: #373535;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
}
#services-navbar-container .services-navbar-container .navbar-nav button:focus {
  outline: none;
  outline-offset: none;
}
#services-navbar-container .services-navbar-container .navbar-nav .element0.active {
  font-weight: 600;
  color: #ffffff;
  background-color: #373535;
}
#services-navbar-container .services-navbar-container .navbar-nav .element0:hover {
  color: #ffffff;
  background-color: #373535;
}
#services-navbar-container .services-navbar-container .navbar-nav .element1.active {
  font-weight: 600;
  color: #ffffff;
  background-color: #e0c389;
}
#services-navbar-container .services-navbar-container .navbar-nav .element1:hover {
  color: #ffffff;
  background-color: #e0c389;
}
#services-navbar-container .services-navbar-container .navbar-nav .element2.active {
  font-weight: 600;
  color: #ffffff;
  background-color: #f8aeb0;
}
#services-navbar-container .services-navbar-container .navbar-nav .element2:hover {
  color: #ffffff;
  background-color: #f8aeb0;
}

#main-navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #373535;
}
#main-navbar .navbar-collapse {
  justify-content: flex-end;
}
#main-navbar .navbar-collapse .navbar-nav {
  align-items: right;
}
#main-navbar a {
  color: #ffffff;
}
#main-navbar .main-navbar-logo {
  height: 2rem;
  width: auto;
  padding-top: 0.2rem;
  margin-left: 1rem;
}
#main-navbar .navbar-brand {
  color: #ffffff;
}

#redes-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #373535;
}
#redes-container .correo, #redes-container .redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#redes-container .correo {
  padding-left: 2rem;
  align-items: flex-start;
}
#redes-container .redes {
  padding-right: 2rem;
  align-items: flex-end;
}
#redes-container .redes-iconos, #redes-container .whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#redes-container .redes-iconos .filter-red, #redes-container .whatsapp .filter-red {
  filter: invert(51%) sepia(67%) saturate(7175%) hue-rotate(338deg) brightness(93%) contrast(100%);
}
#redes-container .redes-iconos img, #redes-container .whatsapp img {
  width: 2rem;
}
#redes-container .redes-iconos img {
  margin: 1rem 0 1rem 1rem;
  width: 2rem;
}

#footer-container {
  margin-bottom: 0;
  border-top: 1px solid #373535;
  font-size: 0.6rem;
  background-color: #373535;
  color: white;
}
#footer-container .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer-container p {
  margin: 0 0;
  padding: 0 0;
}
#footer-container a {
  margin: 0 0;
  padding: 0 0;
}

.service-logo {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.service-logo img {
  width: 100%;
}

.service-packages-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.service-packages-container .service-package {
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  display: block;
  margin: 0.5rem;
  padding: 0rem;
  min-width: 10rem;
}
.service-packages-container .service-package .card-body {
  padding: 1rem;
}
.service-packages-container .service-package .card-body .extra-text {
  padding-top: 0.2rem;
  font-weight: 700;
}
.service-packages-container .service-package p {
  padding: 0 0 0 0.2rem;
  margin: 0 0 0.2rem 0;
}
.service-packages-container .service-package ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0.2rem;
}
.service-packages-container .service-package ul li {
  border-top: 0.1rem solid;
  margin-bottom: 0.2rem;
  padding-left: 0.4rem;
}
.service-packages-container .service-package ul .not-included {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}
.service-packages-container .service-package .card-title {
  font-size: 1.5rem;
  padding-left: 0.3rem;
  margin-bottom: 0.5rem;
}
.service-packages-container .service-package .package-price {
  padding-left: 0.3rem;
  margin-bottom: 0.75rem;
}
.service-packages-container .service-package .card-text {
  padding-right: 0.3rem;
  line-height: 1.25rem;
  margin-bottom: 0;
}
.service-packages-container .service-package-blackwoods {
  color: #ffffff;
  background-color: #e0c389;
}
.service-packages-container .service-package-roes {
  color: #ffffff;
  background-color: #373535;
}
.service-packages-container .service-package-aymaria {
  background-color: #ffffff;
}
.service-packages-container .service-package .card-title {
  font-size: 1.5rem;
}

#services-container .service-container {
  display: none;
  padding-bottom: 4rem;
}
#services-container .service-container.active {
  display: block;
}

@media (max-width: 576px) {
  html {
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=app.css.map */
